*::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: lightgray;
  border-radius: 4px;
}
